{
  "ignition": {
    "config": {
      "replace": {
        "source": null,
        "verification": {}
      }
    },
    "security": {
      "tls": {}
    },
    "timeouts": {},
    "version": "3.0.0"
  },
  "passwd": {},
  "storage": {
    "files": [
      {
        "group": {},
        "overwrite": true,
        "path": "/etc/eks/config",
        "user": {},
        "contents": {
        "source": "data:;base64,${FILE_CONTENTS}",
          "verification": {}
        },
        "mode": 420
      }
    ]
  },
  "systemd": {}
}

